<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <File name="appenderARCHIVO" fileName="siatlog4j_v2.log" append="true">
      <PatternLayout pattern="%d{dd MMM yyyy - HH:mm:ss} - %t %-5p %c{2} - %m%n"/>
    </File>
    <Console name="appenderCONSOLA" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{dd MMM yyyy - HH:mm:ss} %-5p  [%t] %C{2} (%F:%L) - %m%n"/>
    </Console>
    
    <RollingFile name="RollingFile" fileName="logs/siat.log" 
                 filePattern="logs/$${date:yyyy-MM}/siatlog-%d{yyyy-MM-dd-HH}-%i.log.gz">
      <PatternLayout Pattern="%d{dd MMM yyyy - HH:mm:ss} - [%t] - %p %c{1}  %m%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingFile>
    
  </Appenders>
  <Loggers>
    <Logger name="utils.log4j" level="trace">
      <AppenderRef ref="appenderARCHIVO"/>
    </Logger>
     <Logger name="utils.log4j.v2" level="trace">
      <AppenderRef ref="RollingFile"/>
    </Logger>
    <Root level="trace">
      <AppenderRef ref="appenderCONSOLA"/>
    </Root>
  </Loggers>
</Configuration>


<!-- La configuración se encuentra en /classes/log4j2.xml -->

<!-- Continuar adaptandolo a la aplicacion web. Leer aca: http://logging.apache.org/log4j/2.x/manual/webapp.html -->